.card {
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

#titulo {
    font-size: 40px;
    text-align: center;
    padding: 1rem;
<<<<<<< Updated upstream
    color: #bbbbbb;
    letter-spacing: .1em;
    text-shadow: 2px 1px 2px #248AFF;
=======
    color: rgb(46, 152, 240);
    text-shadow: 2px 3px 1px #474747;
>>>>>>> Stashed changes
}