body 
{
    /* background-image: url('..//Imagens/background.png'); */
}

.MousePoiter
{
    cursor: pointer;
}

.Status_Ativo
{
    color: black;
    font-size: 20px;
}

/* Grades de consultas*/
.Status_Inativo
{
    background-color: #ffffe0;
    text-decoration: line-through;
    font-size: 20px;
}

.ativo_select
{
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.desc_fixo
{
    resize: none;
}

.obra
{
    line-height: 1.2;
}

.imgBotao
{
    height: 30px;
    width: 30px;
    padding-right: 20%;
    padding-top: 10%;
}

.botao_obra
{
    height: 50px;
    width: 50px;     
}

.Status_Ativo
{
    color: black;
    font-size: 20px;
}

.Status_Inativo
{
    background-color: #ffffe0;
    text-decoration: line-through;
    font-size: 20px;
}

.table_format
{
    text-align: center; 
    background-color: white;
}